/* CSS variables */


body {
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    width: 1064px;
    margin-left: auto;
    margin-right: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}






.header {
    font-family: 'Verdana', sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    margin: 50px 0 50px;
}

.header-logo {
    float: left;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
}

.header-logo:hover {
    background-image: url('../img/logo-h.png');
}

.header-link {
    text-decoration: none;
    color: #fff;
}

.header-link:hover {
    color: #f26522;
}

.header-logo-span {
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 60px;
}

.header-logo-span:first-child {
    font-size: 29px;
    font-weight: 700;
}

.header-contacts {
    float: right;
    text-align: right;
}







.tour-item {
    float: left;
    width: 312px;
    margin-left: 64px;
    margin-bottom: 58px;
    box-sizing: border-box;
}

.tour-item:nth-child(3n+1) {
    margin-left: 0;
}



.tour-item:hover .tour-name {
    color: #f26522;
}

.tour-link {
    text-decoration: none;
}

.tour-img-container {
    position: relative;
    overflow: hidden;
}

.tour-img {
    display: block;
    border: 2px solid #fff;
    border-image: linear-gradient(to bottom, #fff 0%, #000 100%);
    border-image-slice: 1;
}

.tour-info-container {
    display: block;
    opacity: 0;
    height: 63px;
    box-sizing: border-box;
    position: absolute;
    bottom: calc(-1 * 63px);
    left: 0px;
    right: 0px;
    font-family: 'Verdana', sans-serif;
    color: #fff;
    background-color: #f26522;
}


.tour-item:hover .tour-info-container {
    bottom: 0;
    opacity: 1;
    transition-duration: 0.8s;
}

.tour-info {
    position: absolute;
    bottom: 17px;
}

.tour-price {
    float: left;
    font-size: 10px;
    padding-left: 20px;
}

.tour-price-value {
    font-size: 20px;
}

.view-details--l {
    float: right;
    font-size: 14px;
    padding-right: 18px;
}

.view-details--l:hover {
    filter: drop-shadow(2px 2px 2px #222);
}

.view-details--l::after {
    content: "\276F";
    margin-left: 15px;
    transition-duration: 0.5s;
}

.tour-name {
    font-family: 'Verdana', sans-serif;
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    margin-top: 22px;
}






.as-table {
    display: table;
    width: 100%;
}

.as-table * {
    display: table-cell;
    vertical-align: bottom;
}



.footer-copyright {
    font-family: 'Verdana', sans-serif;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 20px;
}


