body {
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.header {
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 55px;
}

.navigation {
    position: relative;
    height: 20px;
    top: 0;
    bottom: 0;
    width: calc(100% - 330);
    margin: auto;
}
.navigation:after {
    content: "";
    position: absolute;
    right: 0;
    background-color: #2c2c2c;
    height: 20px;
    width: 1px;
}

.navigation .nav-logo:hover, .navigation .tool-item:hover {
    cursor: pointer;
}

.nav-logo {
    position: absolute;
    top: 20px;
    left: 80px;
    font-family: 'Verdana', sans-serif;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.nav-logo:hover {
    color: #3fbd7c;
    transition: 0.7s;
}

.tool-items {
    position: absolute;
    top: 20px;
    right: 325px;
}
.tool-item {
    display: inline-block;
    height: 20px;
    background: url('../img/icons.png');
    background-position-y: 0; 
    margin-right: 28px;
}
.tool-item:last-child {
    margin-right: 0;
}
.tool-item:hover {
    background-position-y: 20px;
    transition: 0.5s;
}
.tool-item.calendar {
    width: 19px;
    background-position-x: 0;
}
.tool-item.forum {
    width: 27px;
    background-position-x: -20px;
}
.tool-item.journey {
    width: 20px;
    background-position-x: -47px;
}

.authorization {
    position: absolute;
    height: 20px;
    width: 330px;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.authorization-welcome {
    position: absolute;
    left: 25px;
    color: #ffffff;
    font-size: 14px;
    line-height: 20px;
    margin: auto;
    font-family: 'Verdana', sans-serif;
}

.link {
    color: #3fbd7c;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

.link:hover {
    border-bottom: 1px solid #3fbd7c;
    transition: 0.7s;
}

.form {
    background-color: #FFF;
    border-radius: 5px;
    padding-bottom: 15px;
    width: 444px;
    height: 540px;
    position: absolute;
    top: 54px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto;
}

.form:before {
    content: "";
    background-color: #43c783;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 30px;
    left: 0;
}

.container {
    position: relative;
    width: 322px;
    margin: 30px auto;
}

.signup-caption {
    float: left;
    color: #434343;
    font-size: 18px;
    line-height: 20px;
    font-family: 'Verdana', sans-serif;
}

.login-link {
    float: right;
    font-family: 'Verdana', sans-serif;
    font-size: 14px;
    line-height: 20px;
}

.social-container {
    margin-top: 15px;
}

.social-btn {
    position: relative;
    width: 155px;
    height: 42px;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-size: 16px;
    font-family: 'Verdana', sans-serif;
    cursor: pointer;
    outline: none;
    
}
.social-btn::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    top: 0;
    bottom: 0;
    left: 0px;
}
.social-btn::after {
    content: "";
    margin: auto;
    height: 28px;
    line-height: 28px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 47px;
}
.social-btn.facebook {
    float: left;
    background-color: #3564c2;
}
.social-btn.facebook::before {
    background: url('../img/facebook-icon.png');
    width: 10px;
    height: 20px;
    margin: auto 0 auto 20px;
}
.social-btn.facebook::after {
    content: "Facebook";
    border-left: 1px solid #2b5ab8;
}
.social-btn.google {
    float: right;
    background-color: #ec4f37;
}
.social-btn.google::before {
    background: url('../img/google-plus-icon.png');
    width: 25px;
    height: 16px;
    margin: auto 0 auto 12px;
}
.social-btn.google::after {
    content: "Google";
    border-left: 1px solid #d4442e;
}

.signin-or {
    margin-top: 20px;
    width: 100%;
    display: inline-block;
    position: relative;
    font-size: 14px;
    text-align: center;
    color: #848484;
    font-family: 'Verdana', sans-serif;
}
.stripe:before {
    content: "";
    background-color: #eaeaea;
    height: 1px;
    width: 135px;
    position: absolute;
    top: 8px;
    left: 0;
}
.stripe:after {
    content: "";
    background-color: #eaeaea;
    height: 1px;
    width: 135px;
    position: absolute;
    top: 8px;
    right: 0;
}

.form-fields {
    margin-top: 20px;
}
.input-field:last-child {
    margin-bottom: 0;
}
.input-field {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    height: 45px;
    margin-bottom: 10px;
    padding-left: 20px;
    border: 1px solid #ebebeb;
    border-radius: 2px;
    font-size: 14px;
    font-family: 'Verdana', sans-serif;
    color: #434343;
    outline: none;
}
.input-field::placeholder {
    color: #bebebe;
}
.input-field:focus {
    border: 1px solid #f7f7f7;
    width: 325px;
    height: 45px;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.20);
}

.terms-container {
    margin-top: 20px;
}
.checkmark-container {
    display: block;
    position: relative;
    font-family: 'Verdana', sans-serif;
    text-align: left;
    padding-left: 35px;
    line-height: 20px;
    color:  #504f4f;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
}
.checkmark-container input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid #ecebeb;
    border-radius: 2px;
    background: transparent;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.checkmark-container:hover input ~ .checkmark {
    background-color: transparent;
}
.checkmark-container input:checked ~ .checkmark {
    background-color: transparent;
}
.checkmark-container input:checked ~ .checkmark:after {
    display: block;
}
.checkmark-container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #3cc57e;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.submit-btn {
    width: 100%;
    margin-top: 25px;
    padding: 16px 0;
    border: none;
    border-radius: 5px;
    background-color: #3bce82;
    line-height: 10px;
    font-size: 16px;
    color: #ffffff;
    font-family: 'Verdana', sans-serif;
    outline: none;
}
.submit-btn:hover {
    background-color: #2b9c63;
    transition: 0.7s;
}
