* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Cabin";
}

nav{
   text-align: center;
   padding: 35px; 
   background-color: #f5f6f7;
}

.nav-link{
    font-weight: bold;
    color: #18a186;
    text-decoration: none;
    padding: 35px;
}


.img-class{
    width: 100%;
}
img {
    width: 100%;
}


.content{
    text-align: center;
    background-color: #f5f6f7;
}

.heading-secondary{
    padding-top: 60px;
    padding-bottom: 20px;
    margin: 0;
}

.paragraph{
    padding-bottom: 30  px;
    margin-left: 110px;
    margin-right: 110px;
    font-weight: bold;
}

.lorem-button{
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #18a186;
    padding: 15px 45px;
    margin-bottom: 50px;
}

.footer-paragraph{
    text-align: right;
    margin: 30px;
    margin-right: 80px;
    font-weight: bold;
    
}
