*{
    box-sizing: border-box;;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(30, 79, 92);
    font-family: 'Josefin Sans', sans-serif;
}

.container{
    
    
    max-width: 80%;
    position: relative;
    margin: 60px auto;
}   


.table{
    position: absolute;
    background-color: aliceblue;   
    min-width: 1100px;    
    color: rgb(49, 47, 47);
    font-size: 20px;
    font-weight: bold;
    border-collapse: collapse;
    
}


.table-tr:nth-child(even){
    background-color: rgb(207, 222, 223);
}



th ,td{
    padding: 25px;
    border: 1px solid #ccc;
    text-align: center;
    
}

.price{
    font-size: 40px;
}

.sup{
    font-size: 18px;
}

    

.plan-select span{
    display: block;
}


.span2{
    font-size: 30px;
}


.standart{
    background-color: rgb(60, 207, 47);
    color: white;
    font-size: 22px;
}

.ultimate{
    background-color: rgb(219, 101, 80);
    color: white;
    font-size: 22px;
}

.premium{
    background-color: rgb(43, 130, 156);
    color: white;
    font-size: 22px;
}

.btn{
    
    border: 1px solid transparent;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: white;
    border-radius: 4px;
}


.btn-contact{
    background-color: rgb(77, 70, 70);
}

.green{
    background-color: #4CAF50; 
}

.red{
    background-color: rgb(235, 74, 63); 
}

.blue{
    background-color: rgb(57, 143, 201); 
}