body {
    width: 100%;
    height: 100%;
    background: #000;
    overflow: hidden;
    box-sizing: border-box;
  }
  
  .faded-div {
    position: relative;
    width: 100%;
    min-height: 60vh;
    top: -25px;
    background-image: linear-gradient(0deg, transparent, black 75%);
    z-index: 1;
  }
  
  .starWars {
    min-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
    height: 800px;
    color: #fdce12;
    font-family: 'Oswald', sans-serif;
    font-size: 600%;
    font-weight: bold;
    letter-spacing: 6px;
    line-height: 150%;
    perspective: 400px;
  }
  
  .crawl {
    position: relative;
    top: 9000px;
    transform-origin: 50% 100%;
    animation: crawl 30s infinite;
  }
  
 .title {
    font-size: 100%;
    text-align: center;
  }
  
 .title h3 {
    margin: 0 0 100px;
    text-transform: uppercase;
  }
  
  @keyframes crawl {
    0% {
      top: 0;
      transform: rotateX(20deg)  translateZ(0);
    }
    100% { 
      top: -6000px;
      transform: rotateX(25deg) translateZ(-2500px);
    }
  }