body{
    font-family: 'Roboto', sans-serif;
}

.header{
    
    background-color: #222425;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    color:white;
    align-items: center;
}
.logo--img{
    padding: 20px;
    background: #1a1d20;
}
.logo--h1{
    margin-left: 10px;
    font-weight: 700;
    font-size:22px;
}

.search{
    color: #fff;
    background: #1a1d20;
    padding: 25px;
}


.menu a{
    padding: 15px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}

.menu a:first-child{
    padding-left: 0;
}



.first--section{
    background-image: url("../img/header-bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    height: 370px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    position: relative;
    
}


.first--section::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    z-index: 2;
}



.first--section--second--heading{
    color: #fff;
    text-align: center;
    font-size:25px;
    z-index: 3;
    flex-basis: 100%;


}


.first--section--buttons{
    margin-top: 60px;
}

.btn {
    color: white;
    border-radius: 5px;
    padding: 15px 30px;
    margin: 0 10px;
    z-index: 3;
    position: relative;
}


.subscribe-btn{
    background-color: rgb(53, 155, 53);
}

.articles-btn{
    background-color: rgb(54, 136, 132);
    padding: 15px 35px;
}




.second-section{
    background-color: #ccc;
}


.second-section-heading{
    padding: 50px 0;
    text-align: center;
    font-size: 28px;
    text-transform: uppercase;
    color: rgb(72, 160, 187);
    font-weight: 700;

}

.posts-container{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;

}

.posts-container h4{
    padding:20px 40px;
    font-size:18px;
    text-align: center;
    color:#353a3d;
    font-weight: bold;
}
 
.post{
    margin-bottom: 30px;
    background-color: #fff;
}




.third-section{
    background-image: url("../img/parallax-bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 23%;
    background-attachment: fixed;
    position: relative;
}

.third-section::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    z-index: 2;
}



.clients--container{
    height: 100%;
    margin:0 auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: relative;
    z-index: 3;
}

.third--section--heading{
    font-size:30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color:white;
    margin-top: 200px;
    grid-row: 1/2;
    grid-column: 2/4;
}

.third--section--heading::after{
    content: "";
    display: block;
    width: 50px;
    height: 5px;
    background: #177a8b;
    margin: 50px auto 0;
}
.clients--container a{
    grid-row: 2/3;
    text-align: center;
    margin-top:60px;
}



.fourth-section-heading{
    font-weight: 700;
    font-size:27px;
    color:#18b4cf;
    text-align: center;
    text-transform: uppercase;
    padding:45px 0;
}

.slides{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.slides a{
    width: 100%;
}
.slides a img{
    max-width: 100%;
}





.fifth-section-heading{
    font-weight: 700;
    font-size:27px;
    color:#18b4cf;
    text-align: center;
    text-transform: uppercase;
    padding:45px 0;
}



.fifth-section-container{
    width: 90%;
    margin:0 auto;
}



.row1{
    display: grid;
    grid-template-rows: 260px;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 4vw;
}
.row2{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 65px;
    margin:44px 0;
}
.row3{
    display: grid;
    grid-template-rows: 260px;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 4vw;

}
.fifth-section-container img{
    max-width: 100%;
}

.fifth-section-container h4{
    font-size:18px;
    color: #353a3d;
    font-weight: 700;
    text-align: right;
    padding-top:21px;
    padding-bottom:21px;
}

.fifth-section-container p{
    font-size:14px;
    color: #5b6469;
    font-weight: 600;
    text-align: right;
    line-height: 21px;
}

.news-big-item{
    display: grid;
    grid-column: 1/2;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1.3fr 1fr;
}


.row3 .news-big-item{
    display: grid;
    grid-column: 2/3;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1.3fr 1fr;
}



.news-small-item{
    grid-row: 1/2;
    grid-column: 2/3;
    justify-self: end;
}



.row3 .news-small-item{
    grid-column: 1/2;
}


.row1 img, .row3 img{
    grid-row: 1/3;
}


.row1 h4, .row3 h4{
    padding-right: 0;
}


.row1 p,.row3 p{
    font-size: 14px;
    color: #5b6469;
    font-weight: 600;
    text-align: right;
    line-height: 21px;
    padding-left: 6%;
}



.news-small-item h4{
    text-align: center;
}


.row2 p,h4{
    padding-right: 5%;
}







footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    background: #1d2124;
    padding: 30px 5%;
    margin-top: 70px;
    color: white;
}






