* {
    box-sizing: border-box;
}

body {
  
    margin: 0;
    padding: 0;
}






.logo-h {
    color: #2B8E7B ;
}

.logo a{
    text-decoration: none;
}

.menu {
    background-color: #344552;   
    text-align: center;
    min-height: 30px;
    padding: 10px;
}



.menu li{
    display: inline-block;
}


.menu a{
    text-decoration: none;
    color: white;
    margin-left: 40px;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 500;
    
}

.menu a:hover{
    padding: 26px 10px;
    border: 1px solid white;
    background-color:  #23231F ;
}



.menu-list{
    border: 1px solid black;
    max-width: 280px;
    float: left;
}


.menu-list li{
    list-style: none;
    padding: 10px 0; 
}



.menu-list a {
    text-decoration: none;
    font-size: 22px;   
    color:#7A7872 ;             
}

.menu-list a:hover{   
    color:black;
    padding-left: 20px;      
}

.col-6 {
    width: 75%;
}

.push-right {
    margin-left: auto;
}

.image {
   
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  }

.image img{
    width: 1000px;
    height: 350px;
    border: 1px solid #23231F;
    transition: transform .5s ease;
    
}


.image:hover img {
    transform: scale(1.5);
  }

.text{
    padding: 0 20px;
    font-size: 18px    
}

.footer{
    background-color: #A2A097;
}

.foot-nav{
    margin-bottom: 0;
}

.foot-nav li{
    padding: 20px;
    display: inline-block;
    
}

.foot-nav a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    
}

.foot-nav a:hover{
    text-decoration:underline;
    font-size: 20px;
    color:#2B8E7B;
}


.copyright {
    float: right;
    padding-top: 20px;
    padding-right: 10px;
    font-size: 20px;
}



