
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}



header {
    text-align: center;
    border-bottom: 2px solid darkgray;

}

main{
    max-width: 1500px;
    margin: 0px;


}

nav li {
    display: inline-block;
}
nav li a {
    text-decoration: none;
    margin: 20px 30px ;
    color: rgb(128, 168, 53);
    font-size: medium;
    font-weight: bolder;
    letter-spacing:1px ;
    font-family: 'Cabin', sans-serif;
}

.img-class{
    width: 100%;
}

img {
    width: 100%;

}


.text-lorem{
    text-align: center;
    margin:25px 150px;
    font-size: 18px;
    color: #fff;
}



.lorem-button-div{
    text-align: center;
    margin: 50px;


}



.lorem-button-itself{
    color: white;
    border: 1px solid transparent;
    text-decoration: none;
    border-radius: 7px;
    background-color: rgb(126, 39, 39);
    padding: 15px;

}

.lorem-button-itself:hover{
    background-color: darkgreen;
    color:white;
}



footer{
    background-color: rgb(92, 31, 31);
    color: wheat;
    text-align: right;
    padding: 15px;
    flex-grow: 0;
}
